*{
    margin:0px;
    padding:0px;   
}
.call{
    display:grid;
    grid-template-rows: 1fr 1fr;
    line-height: normal;
}
a{
    text-decoration: none;
    color: black;
}
.nav{
    display: flex;  
    height:70px ;
    margin-left: 50px;
}
.nav a {
    padding: 15px;
}
.background{
    background-size: cover;
     height: 600px;
    position: relative;
    background-image: url(images/slider-b.jpg);
    background-repeat: no-repeat;
}
.overlay{
        text-align: center;
    position: absolute;
    transform: translate(-10%, -60%);
    color: white;
   display: inline;
   font-size:50px ;
   font-weight: bold;
   position: absolute;
   left: 500px;
   top: 400px; 
}
.blue{
    border-radius: 5px;
    padding: 10px;
    background-color: rgb(109, 181, 245);
}
.white{
    border-radius: 5px;
    padding: 10px;
    background-color: aliceblue;
}
.facility{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    padding: 50px;
    margin-left: 80px;
  
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 270px;
    width: 370px;
}
.text{
    padding: 15px;
}
.Requirements{
    /* background-image: url(images/pic.jpg);
    background-repeat: no-repeat;
    height: 550px;
    background-size: cover; */
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/pic.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 50px;
   
}
.anthem{
    background-image: url(images/pathfinder.jpg);
    height: 550px;
    background-size:cover ; 
    background-repeat: repeat;
}
.school{
    background-color: #0e539c;
    opacity: 0.8;
    height: 100%;
    width: 250px;
    color: aliceblue;
    margin-left: 700px;
    padding-left: 20px;
}
.bottom{
    background-color: black; 
    color: white;
     height:250px;
     padding-left: 60px;
     padding-top: 60px;
}
.bottom a {
    text-decoration: none;
    color: white;
    display: block;
    line-height: 1.5;
}
.facility div{
    width: 250px;
    box-shadow: 0px 4 px 8px 0 #0e539c
    0 6px 20px 0 #0e539c;
}